.navbar{
    background-image: url("../img/background_blue.png");
    background-position: center;
    background-size: cover;
    background-clip: padding-box;
}

.sidebar-heading {
    background-image: url("../img/background_blue.png");
    background-position: left;
    background-clip: padding-box;
}

.nav-active {
  background-color: 'primary';
  color: 'light';
}